<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Student-Management-System</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="students" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Student-List</a>
          </li>
          <li class="nav-item">
            <a routerLink="create-student" routerLinkActive="active" class="nav-link" href="#">Add Student</a>
          </li>
        </ul>
    </div>
    </div>
  </nav>
<!-- <h1 class="text-center">{{title}}</h1> -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2023 &copy; student-management-system</span>
    </div>
</footer>