<h3> View Student Details</h3>
<div>
    <div>
        <label> <b>Email Id: </b></label> {{student.email}}
    </div>
    <div>
        <label> <b>  First Name: </b></label> {{student.first_name}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{student.last_name}}
    </div>
    <div>
        <label> <b> Phone no: </b></label> {{student.phone}}
    </div>
    <div>
        <label> <b> Department: </b></label> {{student.department}}
    </div>
    <button class="btn btn-outline-dark btn-sm" style="margin-top: 10px">Back to list</button>
</div>
